.navbar {
    .navbar__wrapper, .navbar__menu  {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .navbar__link {
            text-decoration: initial;
        }
    }
    
    .navbar__brand {
        .navbar__items {
            .navbar__link {
                text-decoration: initial;
                padding: 0.75rem 0.75rem 0.75rem 0;
            }
        }
        
    }
    
    .navbar__menu {
        .navbar__items:not(:last-child) {
            .navbar__link {
                padding: 0.75rem;
            }
        }
        
        .navbar__items:last-child {
            .navbar__link {
                padding: 0.75rem 0 0.75rem 0.75rem;
            }
        }
    }

    @media screen and (max-width: 400px) {
        .navbar__wrapper {
            flex-direction: column;
        }

        .navbar__menu {
            margin-top: 0.75rem;
        }
    }
}